
/*------------------HEADER---------------------*/
.header{
	height: 84px;
	width: 100%;
	position: fixed;
	top:0;

}
.back{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #f3f3f3;
	opacity: 0.4;
}
.logo{
	margin-top: 7px;
	position: absolute;
	left: 17%;
}
.menu{
	margin-top:30px; 
}
/*.menu>ul>li{
	background-color: #fff;
	color: #65438D;
}*/
.menu > li.active > a, .menu > li.active > a:hover, .menu > li.active > a:focus{
	background-color: #fff;
	color: #65438D;
}

.menu > li > a{
	border-radius: 25px;
}
.menu > li > a {
    color: #fff;
}
/*------------------FIRST SECCTION-------------*/
.parallax-window {
    /*min-height: 400px;*/
    height: 600px;
    background: transparent;
    position: relative;
}
.metalframe{
	height: 100%;
	width: 100%;
	background-image: url('../img/Metal.png');	
}
.firstSection{
	height: 400px;
	width: 100%;
	position: relative;
	top: 17%;
}

.firstSection>h1{
	position: absolute;
	top:50%;
	left: 9%;
	color: #fff;
	font-family: "helverica";
}
.shurtcutHome{
	position: relative;	
	left: 10%;
}
